 .App-logo {
      animation: App-logo-spin infinite 40s linear;
    }

  

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  li .current{
    border-bottom: 2px solid #FFF;
    
  }

  .active{

    
      padding-bottom: 2rem;
      border-bottom: 5px solid white;
     
  
  }